{% extends 'core/base.html' %}
{% block title %}Quiénes Somos — ElectroStore{% endblock %}
{% block banner %}
  <h1 class="display-6 mb-0">Pasión por el hardware desde 2015</h1>
{% endblock %}
{% block content %}
<div class="row align-items-center g-4">
  <div class="col-md-6">
    <p>En <strong>ElectroStore</strong> nos especializamos en componentes para PC: procesadores, memorias, tarjetas gráficas y almacenamiento. Trabajamos con distribuidores oficiales y ofrecemos soporte experto para que compres con confianza.</p>
    <ul>
      <li>Garantía oficial en todos los productos.</li>
      <li>Asesoría gratuita para compatibilidad.</li>
      <li>Retiro en tienda y envíos a todo Chile.</li>
    </ul>
  </div>
  <div class="col-md-6">
    <img class="img-fluid rounded" src="https://plus.unsplash.com/premium_photo-1683120889995-b6a309252981?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGVsZWN0ciVDMyVCM25pY2F8ZW58MHx8MHx8fDA%3D" alt="Taller técnico">
  </div>
</div>
{% endblock %}
